html
  font-size: $startSize
body
  margin: 0
  font-size: $defaultSize
  font-family: $font
  line-height: $defaultLineHeight
  color: $defaultColor
  background: no-repeat center / cover
  @include bg_img('home','bg.jpg')
  cursor: none !important
div,span,a,main,section,input,select,textarea,article,aside,button,form
  box-sizing: border-box

a,button,input,textarea,select,div
  outline: 0
  padding: 0
  cursor: none !important

a
  text-decoration: none
  color: $defaultColor
  transition: $defaultTransition

h1,h2,h3,h4,h5,h6,p
  margin: 0

.btn
  display: block
  background: none
  border: 0
  color: $defaultColor

input
  display: block
  width: 100%

main
  height: 100vh
  min-height: 480px

.btn--close
  width: 24px
  height: 24px
  background: no-repeat center / cover
  @include bg_img('icons','close.svg')

#closeWindow
  position: absolute
  right: 10px
  top: 10px
