extends ../layouts/base
append config
  - var pageTitle = 'Home page'

block content
  main.home
    include ../components/left-side
    include ../components/center
    include ../components/right-side