extends ../layouts/base
append config
  - var pageTitle = 'Home page'

block content
  main.home
    .text-input
      input(type='text' value='Lorem Ipsum is simply ...')
    include ../components/left-side
    include ../components/center
    include ../components/right-side