mixin image(page,name)
  img(src='./images/'+page+'/'+name)&attributes(attributes)


mixin close()
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="luc4a" d="M4362.49 916.9l-8.49-8.49-8.49 8.49a1 1 0 0 1-1.41-1.41l8.49-8.49-8.49-8.49a1 1 0 1 1 1.41-1.41l8.49 8.49 8.49-8.49a1 1 0 1 1 1.4 1.41l-8.48 8.49 8.49 8.49a1 1 0 1 1-1.41 1.41z"/></defs><g><g opacity="1" transform="translate(-4342 -895)"><use fill="#fff" xlink:href="#luc4a"/></g></g></svg>
