.home__block.home__block--center
  include time
  +image('home','bg-d.png').home__bg.home__bg--d
  +image('home','bg-lt.png').home__bg.home__bg--lt
  +image('home','bg-s.png').home__bg.home__bg--s
  h2.home__text What can I help you with?

