footer.footer
 button.btn.footer__icon
  //+image('icons','1_1.png')
 button.btn.footer__icon
  //+image('icons','2_1.png')
 button.btn.footer__icon
  //+image('icons','3_1.png')
 button.btn.footer__icon
  //+image('icons','4_1.png')
 button.btn.footer__icon
  //+image('icons','5_1.png')
 button.btn.footer__icon
  //+image('icons','6_1.png')
 button.btn.footer__icon
  //+image('icons','7_1.png')
 button.btn.footer__icon
  //+image('icons','8_1.png')