header.header
  button.btn.header__icon
    +image('icons','mail.svg')
  button.btn.header__icon
    +image('icons','rectangle.svg')
  button.btn.header__icon
    +image('icons','sun.svg')
    span 23 &#176;
  button.btn.header__icon
    +image('icons','el.svg')
  button.btn.header__icon
    +image('icons','wi-fi-1.svg')