.home__block.home__block--left
  button.btn.home__icon-title.home__icon-title--right
    span
      +image('icons','music-tone.png')
      span MEDIA
  button.btn.home__icon-title
    span
      +image('icons','icon-1.png')
      span APPLICATIONS
  button.btn.home__icon-title.home__icon-title--right
    span
      +image('icons','wallet.png')
      span WALLET