.popUp
  .popUp__wrapper
    .popUp__header
      | PopUp title here
      button.btn.btn--close
    .popUp__body
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam aliquid asperiores autem debitis, deleniti dolores excepturi inventore laboriosam maxime modi officia quaerat quasi quibusdam quos repellendus unde vel voluptatibus.
    .popUp__footer
      | Footer text here

