.home__block.home__block--right
  button.btn.home__icon-title
    span
      +image('icons','phone.png')
      span CALLS
  button.btn.home__icon-title.home__icon-title--right
    span
      +image('icons','share.png')
      span AUTOMATION
  button.btn.home__icon-title
    span
      +image('icons', 'upload.png')
      span CLOUD